body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* Navbar */
#navbar{
    position: fixed;
    min-height: 104vh;
    width: 20vw;
}

.navbar-header {
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
    list-style-type: none;
}

li {
    line-height: 2em;
}

.navbar-link {
    color: black;
    list-style-type: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold
}

a:hover {
  color: gray;
}

a {
  color: black;
  text-decoration: none;
  transition: all .1s ease-in-out; 
}

/* Main Content */

h1 {
  font-family: "Source Serif Pro", serif;
  display: table;
}

.heading::after {
  content: "";
  display: block;
  background: #3C69E7;
  width: 100%;
  height: 3px;
  bottom: 4px;
  left: 0;
}

main {
    min-height: 104vh;
    margin-left: 25vw;
    font-family: 'DM Sans', sans-serif;
}

br {
    line-height: 0.5em;
}

/* About */

img {
    max-width: 70%;
    height: auto;
}

#profile-pic {
  border-radius: 50%;
}

/* Experience */
.job {
  line-height: 0;
}

.job-heading {
  display: flex;
  justify-content: space-between;
}

.timeframe {
  margin-right: 5%;
}

.place {
  font-style: italic;
}

/* Projects */
#project-grid {
    display: grid;
    grid-gap: 2vmax;
    grid-template-columns: 30% 30% 30%;
}

.project {
    box-shadow: 0 0 5px 2px gray;
    text-align: center;
    vertical-align: center;
    border-radius: 5%;
}

.project-link {
    color: black;
    text-decoration: none;
}

.project-description {
  padding: 5% 0px;
  margin: auto;
  
}

.project-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 5% auto;
}

#more-projects {
    color: black;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    box-shadow: 0 0 5px 2px gray;
    border-radius: 10%;
    margin: auto;
    width: auto;
    padding: 15px;
}

/* Contact */

input {
    display: block;
    font-family: 'DM Sans', sans-serif;
    width: 50%;
    margin-bottom: 2vh;
}

textarea{
    display: block;
    font-family: 'DM Sans', sans-serif;
    width: 50%;
    margin-bottom: 2vh;
    height: 30vh;
    resize: none;
}

button[type=submit] {
    font-family: 'DM Sans', sans-serif;
    background-color: white;
    border-style: solid;
}

/* Footer */

footer {
    margin-left: 25vw;
}

.fa {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 50%;
}

span {
    margin-right: 1vw;
    margin-bottom: 2vw;
}

#copyright {
    display: inline;
    margin: auto;
    margin-right: 2vw;
    font-family: 'DM Sans', sans-serif;
    float: right;

}
