html {
  scroll-behavior: smooth;
} 

#bio-container{
  width: max-content;
}

#bio {
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 1em;
  width: 0;
  animation: typing 2.5s forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* Navbar */
@media (min-width: 767px) {
  #navbar{
      animation: fadeInAnimation ease 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    
      position: fixed;
      min-height: 104vh;
      width: 20vw;
  }
}

@media (max-width: 767px) {
  #navbar{
      animation: fadeInAnimation ease 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    
      display: block;
      text-align: center;
      line-height: 0.2;
      min-height: 20vh;
      width: 100vw;
      margin-left: -5vw;
  }
}

.navbar-header {
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
    list-style-type: none;
}

@media (max-width: 767px) {
  #navbar-header-list {
    list-style-type: none;
    display: inline-block;
    text-align: center;
  }
}

 li {
  line-height: 2em;
 }

@media (min-width: 767px) {
  .navbar-link {
      color: black;
      list-style-type: none;
      font-family: 'DM Sans', sans-serif;
      font-weight: bold
  }
}

@media (max-width: 767px) {
  .navbar-link {
      color: blue;
      list-style-type: none;
      font-family: 'DM Sans', sans-serif;
      font-weight: bold
      display: inline-block;
      margin: auto 5px;
  }
}

a:hover {
  color: gray;
}

a {
  color: black;
  text-decoration: none;
  transition: all .1s ease-in-out; 
}

/* Main Content */

h1 {
  font-family: "Source Serif Pro", serif;
  display: table;
}

.heading::after {
  content: "";
  display: block;
  background: #3C69E7;
  width: 100%;
  height: 3px;
  bottom: 4px;
  left: 0;
}

@media (min-width: 767px) {
  main {
    min-height: 104vh;
    margin-left: 25vw;
    font-family: 'DM Sans', sans-serif;
  }
}

@media (max-width: 767px) {
  main {
    min-height: 104vh;
    margin: auto 5vw;
    font-family: 'DM Sans', sans-serif;
  }
}

br {
    line-height: 0.5em;
}

/* About */
#about {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-right: 5%;
}

@media (min-width: 767px) {
  img {
      max-width: 70%;
      height: auto;
  }
}

@media (max-width: 767px) {
  img {
      max-height: 20vh;
      width: auto;
  }
}

#profile-pic {
  border-radius: 50%;
}

/* Education and Experience */
#experience {
    animation: fadeInAnimation ease 4.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#education {
    animation: fadeInAnimation ease 4.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@media (min-width: 1200px) {
  .job {
    line-height: 0;
  }
}

@media (max-width: 1200px) {
  .job {
    line-height: 0.75;
  }
}

@media (min-width: 1200px) {
  .job-heading {
    display: flex;
    justify-content: space-between;
  }
}

/*.role, .place {
  line-height: 1.25em;
}*/

@media (max-width: 1200px) {
  .job-heading {
     display: block;
  }
}

.timeframe {
  margin-right: 5%;
}

.role {
  font-style: italic;
}

/* Projects */
#projects {
    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@media (min-width: 767px) {
  #project-grid {
      display: grid;
      grid-gap: 2vmax;
      grid-template-columns: 30% 30% 30%;
  }
}

@media (max-width: 767px) {
  #project-grid {
      display: grid;
      grid-gap: 2vmax;
      grid-template-columns: 45% 45%;
  }
}

.project {
    box-shadow: 0 0 5px 2px gray;
    text-align: center;
    vertical-align: center;
    border-radius: 5%;
    position relative;
}

.project-link {
    color: black;
    text-decoration: none;
}

.project-description {
  padding: 5% 0px;
  margin: auto;
}

.project-image {
    display: block;
    max-width: 90%;
    height: auto;
    margin: 5% auto;
}

/* Footer */

@media (min-width: 767px) {
  footer {
      animation: fadeInAnimation ease 6s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      margin-left: 25vw;
  }
}

@media (max-width: 767px) {
  footer {
      animation: fadeInAnimation ease 6s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      text-align: center;
  }
}

.fa {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 50%;
}

span {
    margin-right: 1vw;
    margin-bottom: 2vw;
}
